img {
    margin:left;     
    
}

header {
     background-color: #630000;
        display: flex;
        justify-content: space-between;
       height: 120px;
    height: fit-content;
}

 h1 {
    
    color: white;
    font-family: 'Creepster', cursive;
    margin-left: 100px;
    text-align: left;
    margin: auto;
    max-width: 850px;
    padding-bottom: 20px;
    font-size: 40px;
    
}

h2 {
   
    background-color: red;
    align-content: center;
    padding: 5px;
    border-radius: 10px;
    color: #750004;
    font-family: 'Creepster', cursive;
    font-size: 30px;
    margin-left: 20px;
}


h3 {

    
    color: white;
    margin-inline: 100px;
    text-align: left;
    font-family: 'Special Elite', cursive;
    max-width: 850px;
    margin: auto;

    
}


    h4 {
   
        background-color: red;
        padding: 10px;
            color: white;
        margin: auto;
            border-radius: 16px;
            font-family: 'Creepster', cursive;
            font-size: 24px;
  
    
}


@media screen and (min-width: 500px) {

    body img {height: 500px; width: 550px}
     h3 {font-size: 20px;}

    div.filmografia{
        margin:left;     
        
    }

}

header img{
        max-height: 80px;
        object-fit: cover;
       margin-left: 53px;
       margin-top: 6px;
       max-width: 80px;
      }

    div.main{
        max-width: 850px;
        display: flex;
        gap: 28px;
        margin: auto;
        margin-top: 30px;
        padding-left: 16px;
        padding-right: 16px;
    }

ul {
    list-style: none;
    display: flex;
    gap: 30px;
    margin-right: 20px;
    align-content: center;
}

    
@media screen and (max-width:800px) {

   a{
    margin:left;     
    margin:auto;
}


header {
    background-color: #630000;
    display: flex;
    justify-content: space-between;
   height: 120px;
height: fit-content;

}

header img{
    max-height: 80px;
      object-fit: cover;
     margin-left: 20px;
     margin-top: 6px;
  }
ul {
    list-style: none;
    display: flex;
    
    gap: 12px;
    margin-right: 10px;
    align-content: center;
}

    div.filmografia{
        margin:left;     
        
    }

    body img {height: 250px; width: 400px}
   

    h1 {

    
    color: white;
    margin-inline: 100px;
    text-align: left;
    font-family: 'Creepster', cursive;
    font-size: 20px;
    margin: auto;

    
}

    h3 {

    
    color: white;
    margin-inline: 200px;
    text-align: left;
    font-family: 'Special Elite', cursive;
    font-size: 14px;
    margin: auto;

    
}

    h2 {

        background-color: red;
        text-align: center;
        padding: 6px;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 16px;
        color: #750004;
        font-family: 'Creepster', cursive;
        font-size: 20px;
    margin: auto;
    margin-left: 10px;
    }

    h4 {

        background-color: red;
    padding: 6px;
        color: white;
    margin: auto;
        border-radius: 16px;
        font-family: 'Creepster', cursive;
        font-size: 18px;
    }

}

body {
    background-color: #960000;
    margin: 0;
}
